html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

button, input, select, textarea, label {
  line-height: 22px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

body, h1, h2, h3, h4, h5, h6, dl, ol, dd, dt, ul, figure, form ,p{
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}
a{
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}

//clearfix
.rain-clear {
  _display: inline;
  zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.rain-left, .rain-right {
  @extend .rain-clear;
}

.rain-left li, .rain-left dt, .rain-left dd, .rain-left .wrap {
  float: left;
  display: block;
  list-style: none;
}
.rain-right li, .rain-right dt, .rain-right dd, .rain-right .wrap{
  float: right;
  display: block;
  list-style: none;
}

//inlinefix
.rain-inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

//keepfix
.rain-keep {
  /*禁止换行 */
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
  overflow: visible;
}

//breakfix, .breakall
.rain-break {
  /*强制超出换行 */
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//selectfix
.rain-select {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border{
	height: 1px;
	background-color: rgba(0,0,0,0.20);
}
